<h1>All Listings</h1>

	<%@listings.each do |listing|%>
		<div><%=listing.updated_at.strftime("%D, %r")%> - <%=link_to listing.title, listing_path(listing)%></div>
	<% end %>


<%= link_to "Sign Out", logout_path, method: :delete%> | <%= link_to "User Home", user_path(session[:user_id])%>