<body class="home_page">
<div class="container col-lg-3">
  <div class="jumbotron">
    <h1>Savr</h1>
    <p>Don't let it go to waste.</p>
    <%= link_to "Sign Up", signup_path, :class => "btn"%>
    <%= link_to "Sign In", login_path, :class => "btn"%>
  </div>
</div>

</body>
