<video poster="/assets/food_on_the_table.jpg" id="bgvid" playsinline autoplay muted loop>
<source src="/assets/cooking_1.mp4" type="video/mp4">
</video>
<div class="faded_bg vertical-center">

	<div class="jumbotron text-center home-jumbo">
		<h1>Savr</h1>
		<p>Don't let it go to waste.</p>
		<%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg"%>
		<%= link_to "Sign In", login_path, class: "btn btn-primary btn-lg"%>
	</div>

</div>